.checkup {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .checkup {
    margin-top: 1rem;
    .column {
      .book-button {
        .appt-name { 
          margin-left: 3px; 
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .checkup {
    margin-top: 2rem;
    .column {
      .title-column {
        padding-top: 14px;
      }
      .book-button {
        // width: 250px;
        .appt-name { 
          margin-left: 3px; 
        }
      }
      .mark-as-done {
        // width: 250px;
        // margin-left: 5px;
      }
    }
  }
}
@media (min-width: 692px) {
  .column {
    .title-column {
      vertical-align: middle;
      padding-top: 15px;
    }
    .mobile-tag {
      display: none;
    }
  }
}

// tablet
@media (min-width: 768px) and (max-width: 991px) {
  .column {
    .book-button {
      display: block;
      width: 250px;
    }
    .mark-as-done {
      display: block;
      width: 250px;
      margin-top: 15px;
    }
  }
}

// mobile
@media (max-width: 767px) {
  .column {
    .book-button {
      width: 100%;
      .appt-name { 
        display: none; 
      }
    }
    .mark-as-done {
      width: 100%;
      margin-top: 15px;
    }
  }
}

// btn styles
@media (min-width: 768px) and (max-width: 1150px) {
  .checkup {
    .column {
      .book-button {
        width: 100%;
      }
      .mark-as-done {
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}

// xl btn styles
@media (min-width: 1150px) {
  .checkup {
    .column {
      .book-button {
        width: 210px;
      }
      .mark-as-done {
        width: 210px;
        margin-left: 10px;
      }
    }
  }
}