 .logo {
  height: 32px;
  text-align: center;
  // background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  font-size: 1.2rem;
  color: white;
}

.site-layout-sub-header-background {
  background: #fff;
}

.ant-layout-sider-children {
  height: 100vh;
}

.site-layout-background {
  background: #fff;
  min-height: 760px !important;
}